## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal

## User secrets
secrets.json

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## VS / Rider
.vs/
.idea/
*.DotSettings.user

## Node / Angular
node_modules/
dist/
.angular/
.sass-cache/
tmp/

## Environment
.env
.env.local
appsettings.*.local.json

## Test coverage
TestResults/
coveragereport/
coverage/

## Linting
.hintrc

## OS
.DS_Store
Thumbs.db

## VS Code
.vscode/
