<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByAttribute>GeneratedCodeAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/Program.cs</ExcludeByFile>
          <Exclude>[FleetWise.*.Tests]*,[FleetWise.Functions]FleetWise.Functions.*Executor*,[FleetWise.Functions]FleetWise.Functions.*MetadataProvider*</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
