<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByAttribute>GeneratedCodeAttribute</ExcludeByAttribute>
          <Exclude>[FleetWise.*.Tests]*,[FleetWise.Functions]FleetWise.Functions.*Executor*,[FleetWise.Functions]FleetWise.Functions.*MetadataProvider*,[FleetWise.Api]*Program*,[FleetWise.Functions]*Program*,[FleetWise.Infrastructure]FleetWise.Infrastructure.Data.SeedData</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
